* {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
    background-color: #222;
    overflow: hidden;
}
#wrapper {
    position: relative;
    margin: 20px auto;
    /* border: 1px solid #fff; */
}
.square {
    position: absolute;
    width: 86px;
    height: 76px;
    background-size: cover;
}